.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #108aa8;
}

li {
  float: left;
  width: 50%
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #137d97;
}

.viewDescription{
  padding: 20px;
}


